<!-- Toolbar -->
<div class="toolbar" role="banner">
  <button mat-raised-button routerLink="/">Home</button>
  <span>Welcome</span>
  <button mat-raised-button routerLink="/map">Map</button>
  <button mat-raised-button routerLink="/graph">Graph</button>
  <button mat-raised-button routerLink="/tracker">Covid Tracker</button>
</div>

<router-outlet></router-outlet>

<img *ngIf="currentRoute === '/'" class="background"
  src="https://i.guim.co.uk/img/media/8277fbc431a315f99436b174c2892acaa71f8eee/0_30_5760_3456/master/5760.jpg?width=1020&quality=85&auto=format&fit=max&s=e763ddbf46ca6d4941452b39a921a5a7"
  alt="">
